:root {
    --primary-color : #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --text-color: #333;
    --light-gray: #f5f5f5;
    --dark-gray: #555;
    --white : #fff;
    --black : #000;
    --box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    --transition: all 0.3s ease;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: var(--text-color);
    background: var(--light-gray);

}
h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.8;
}

h1 {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: #dd867c;
    text-transform: uppercase;
    text-align: center;
    border: #fff;
    border-radius: 10px;
    margin-top: 6vh;

}

header span {
    display: flex;
    flex-direction: column;
    float: inline-end;

}
a {
    color: var(--primary-color);
    transition: var(--transition);
}

a:hover {
    color:var(--accent-color)
}

ul {
    list-style-type: none;
}

header img {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 400px;
    border-radius: 50px;
    float: right;
}
.container-profil {
    width: 100%; 
    border-radius: 20px;

}


.btn {
    display:flex;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    transition: var(--transition);
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--accent-color);
    transform: translateY(3px);
    box-shadow: var(--box-shadow);
}

/* header styles */
header {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 15px;
}
.logo {
    background: linear-gradient rgba(0,0,0,0.6), rgba(0,0,0,0.6),url(/images/imgprofil.webp) no-repeat left cover ;
    color: var(--pr imary-color);
    font-size: 1.6rem;
    margin-bottom: 5px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: var(--text-color);
    font-weight: 500;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 5px;
    left:0;
    transition: var(--transition);
}

.nav-links a:hover::after {
    width: 100%;
}

.hamburger {
    display:none;
    background:fixed;
    border:none;
    font: size 1.4rem;
    color: var(--primary-color);
    cursor: pointer;
}