:root {
    --background: #63858381;
    --primary: #6200ea;
    --secondary: #03dac6;
    --text-primary: #000000;
    --color: #000000;
    --border: #cc3ccc;
    --background-color: #485b6b1f;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    color: var(--color)
}